{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>All Pages</h1>

    <ul>
        {% for entry in entries %}
        <li>
            <a href="/entries/{{ entry }}">{{ entry }}</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'encyclopedia:add' %}">Add a new entry</a>
    <!-- Aquí va a urls y busca la url que se llame add-->
    <!-- No es necesario poner el encyclopedia:add porque solo hay una app-->
    <!-- Pero al haber añadido en urls.py app_name = "encyclopedia", hay que ponerlo-->

{% endblock %}